<h1>instapuzzle</h1>
<p>Popular instagram photos.</p>
<p>Turned into puzzles.</p>
<p>With multiplayer.</p>

<h2>how to play</h2>
<p>click on the piece you want to move</p>
<p>click on the place you want to move it to</p>
<p>repeat until picture is complete!</p>

<h2>source code</h2>
<p>instapuzzle is created by <a href="https://github.com/pewniak747" target="_blank">Tomasz Pewinski</a></p>
<p>grab the source code on Github:</p>
<p><a href="https://github.com/pewniak747/instapuzzle-web" target="_blank">frontend</a> (angularjs, html5)</p>
<p><a href="https://github.com/pewniak747/instapuzzle" target="_blank">backend</a> (scala, play!, websockets)</p>
