<div class="header">
  <ul class="nav nav-pills pull-right">
    <li ng-class="{active: isCurrentTab('play')}"><a href="" ng-click="switchTab('play')">Play</a></li>
    <li ng-class="{active: isCurrentTab('about')}"><a href="" ng-click="switchTab('about')">About</a></li>
  </ul>
  <h3 class="text-muted">instapuzzle</h3>
</div>

<div class="jumbotron" ng-include="'views/' + currentTab + '.html'"></div>

<div class="footer">
  <p>&copy; 2014 by <a href="https://github.com/pewniak747" target="blank">Tomasz Pewinski</a></p>
</div>
