<div ng-controller="PlayCtrl">
  <div ng-switch on="state">
    <div ng-switch-when="logged-out">
      <h1>instapuzzle</h1>
      <p>Popular instagram photos.</p>
      <p>Turned into puzzles.</p>
      <p>With multiplayer.</p>
      <form ng-submit="changeNickname()">
        <div class="input-group">
          <input class="form-control" type="text" ng-model="nickname" placeholder="Introduce yourself, please" />
          <span class="input-group-btn">
            <button class="btn btn-primary" type="submit">start</button>
          </span>
        </div>
      </form>
    </div>
    <div ng-switch-when="logged-in">
      <button class="play__logout btn btn-default" ng-mouseenter="logoutBtnState = 'in'" ng-mouseleave="logoutBtnState = null" ng-switch on="logoutBtnState" ng-click="resetNickname()">
        <span ng-switch-when="in">log out</span>
        <span ng-switch-default>you're {{ nickname }}</span>
      </button>
      <h1>there's a board</h1>
    </div>
  </div>
</div>
